.composer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 100%;
  height: 56px;
  background: var(--background);
  border-top: 1px solid var(--border);
  box-sizing: border-box;

  :global(.chatbox-composer-before-outside) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border: 1px solid var(--border);
    background: transparent;
    border-radius: 50%;
    padding: 8px;

    &:disabled,
    &.disabled {
      background: var(--placeholder-bg);
      cursor: not-allowed;
    }

    svg {
      width: 24px;
      aspect-ratio: 1;
    }
  }

  :global(.chatbox-composer-after-inside) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 8px;

    &:disabled,
    &.disabled {
      pointer-events: none;
    }

    svg {
      width: 18px;
      aspect-ratio: 1;
    }
  }

  :global(.c-chatbox-composer-textarea) {
    border: 1px solid var(--border);
    background: var(--placeholder-bg);
    border-radius: 5px;
    height: 40px;
    padding: 11.5px 8px;
    margin: 0 8px;
    min-height: 40px;
    transition: border-color 0.2s ease;

    &:focus-within {
      border-color: var(--primary);
      background: var(--background);

      textarea {
        background: transparent;
        color: var(--foreground);

        &::placeholder {
          line-height: 1.3;
          color: var(--foreground);
        }
      }
    }

    textarea {
      background: transparent;
      color: var(--foreground);

      &::placeholder {
        line-height: 1.3;
        color: var(--placeholder-text);
      }
    }
  }

  :global(.c-chatbox-composer-send-button) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 8px;
    background: transparent;
    border: 1px solid var(--primary);
    cursor: pointer;
    padding: 11px;

    &:disabled,
    &.disabled {
      background: var(--placeholder-bg);
      border: 1px solid var(--border);
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: transparent;
    }
  }
}
