# Build output
.next/
build/
dist/

# Node
node_modules/

# Lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# E2E test reports
playwright-report/
test-results/

# Editor/OS specific
.vscode/
.DS_Store

# Misc
coverage/ 
