@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define colors for light and dark mode */
  :root {
    --primary: #ff627b;
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    /* In this project, use 1 rem as default spacing unit (1rem = 1px) */
    font-size: 6.25%;
    @apply overflow-x-hidden bg-primary;
  }

  body {
    @apply bg-background font-pretendard text-16 text-foreground;
    margin: 0 auto;
    width: 360rem;
  }
}

@layer utilities {
  .container {
    @apply max-w-full px-16;
  }

  .container-fluid {
    @apply max-w-full;
  }
}
