@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  html {
    /* In this project, use 1 rem as default spacing unit (1rem = 1px) */
    font-size: 6.25%;
    @apply overflow-x-hidden bg-primary;
  }

  body {
    @apply bg-background font-pretendard text-16 text-foreground;
    margin: 0 auto;
    width: 360rem;
  }
}

@layer utilities {
  .container {
    @apply max-w-full px-16;
  }

  .container-fluid {
    @apply max-w-full;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 200ms ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 200ms ease-in forwards;
}

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
}
