@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Define colors for light and dark mode */
  :root {
    --primary: #ff627b;
    --secondary: #ffa7b5;
    --tertiary: #ffdce1;
    --background: #ffffff;
    --foreground: #171717;
    --black: 0 0 0;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  html {
    /* In this project, use 1 rem as default spacing unit (1rem = 1px) */
    font-size: 6.25%;
    @apply overflow-x-hidden;
  }

  body {
    @apply font-pretendard text-16 text-foreground;
    margin: 0 auto;
  }

  body:has(.main-layout) {
    @apply bg-primary;
  }
}

@layer utilities {
  .container {
    @apply max-w-full px-16;
  }

  .container-fluid {
    @apply max-w-full;
  }

  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* IE and Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 200ms ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 200ms ease-in forwards;
}

.main-layout {
  @apply flex h-full flex-col bg-background;
}

.main-layout.device-desktop {
  max-width: 768rem;
  margin: 0 auto;
}

.main-layout > .page-wrapper {
  @apply flex min-h-0 flex-1 flex-col;
}

.main-layout > .navigation-wrapper {
  @apply mt-auto max-h-56 overflow-hidden duration-300 ease-in-out;
}

.main-layout:has([data-no-navigation]) > .navigation-wrapper {
  max-height: 0;
  transition-property: max-height;
}

.main-layout > .page-wrapper > main {
  @apply min-h-0 flex-1 overflow-auto;
}

.admin-layout {
  @apply flex !min-h-screen;
}

.admin-layout > .sidebar-wrapper {
  max-width: 200rem;
  overflow: hidden;
  @apply duration-300 ease-in-out;
}

.admin-layout:has([data-no-sidebar]) > .sidebar-wrapper {
  max-width: 0;
  transition-property: max-width;
}

.admin-layout > .page-wrapper {
  @apply flex-1;
}
