.modalWithdrawal {
  /* For the checkbox inner box when checked */
  :global {
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #ff4d4f !important; /* Your desired background color */
      border-color: #ff4d4f !important; /* Your desired border color */
    }

    /* For the checkbox inner box when unchecked (optional) */
    .ant-checkbox-wrapper {
      display: flex;
      align-items: start;
      .ant-checkbox {
        align-self: baseline;
        margin-top: 2rem;

        .ant-checkbox-inner {
          border-color: #d9d9d9; /* Your desired border color */
          width: 20rem;
          height: 20rem;

          &::after {
            width: 7rem;
            height: 11rem;
          }
        }
      }

      .ant-checkbox-label {
        letter-spacing: -0.048rem;
        font-size: 12rem;
        font-weight: 600;
        line-height: 20rem;
        color: rgb(87 86 101 / var(--tw-text-opacity, 1)) /* #575665 */;
        padding: 0 0 0 8rem;
      }

      &:hover .ant-checkbox .ant-checkbox-inner {
        border-color: #ff4d4f !important;
      }
    }

    /* For the checkbox checkmark color */
    .ant-checkbox-checked .ant-checkbox-inner::after {
      border-color: #fff; /* Your desired checkmark color */
    }
  }
}
